---
// Component imports
import Button from "./Button.astro"

type Props = {
  planetColor: string
}

const { planetColor } = Astro.props
---

<ul>
  <li>
    <Button
      category="overview"
      color={planetColor}
      aria-selected="true"
      data-num="1"
    />
  </li>
  <li>
    <Button
      category="structure"
      color={planetColor}
      prefix="internal"
      data-num="2"
    />
  </li>
  <li>
    <Button
      category="geology"
      color={planetColor}
      prefix="surface"
      data-num="3"
    />
  </li>
</ul>

<style lang="scss">
  @use "../sass/abstracts" as *;
  ul {
    grid-area: buttons;

    display: flex;
    justify-content: space-between;
    position: relative;
    list-style: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -$container-min-margin-inline-small-screens;
      width: 100vw;
      height: 1px;
      background-color: $color-neutral-700;
    }

    @include mq(medium) {
      flex-direction: column;
      justify-content: center;

      gap: 1rem;

      &::after {
        display: none;
      }
    }

    @include mq(large) {
      align-self: start;
    }
  }
</style>
