---
// Component imports
import Buttons from "./Buttons.astro"
import Header from "./Header.astro"
import Images from "./Images.astro"

type Subcategory = {
  content: string
  source: string
}

export type PlanetData = {
  name: string
  overview: Subcategory
  structure: Subcategory
  geology: Subcategory
  rotation: string
  revolution: string
  radius: string
  temperature: string
  images: {
    planet: string
    internal: string
    geology: string
  }
}

type Props = {
  planetData: PlanetData
}

const { planetData } = Astro.props

// Color
const planetColor = `var(--accent-${planetData.name.toLowerCase()}-400)`
---

<Header planetData={planetData} />
<main class="container">
  <Buttons planetColor={planetColor} />
  <Images planetData={planetData} />

  <div class="content"></div>

  <div class="stats"></div>
</main>

<style lang="scss">
  @use "../sass/abstracts" as *;
  main {
  }
</style>

<script>
  const allBtns = document.querySelectorAll(
    ".btn"
  )! as NodeListOf<HTMLButtonElement>

  allBtns.forEach((btn) => {
    btn.addEventListener("click", (e) => {
      if (e.target) {
        const clickedBtn = e.target.closest(".btn") as HTMLButtonElement
        handleButtonClick(clickedBtn)
      }
    })
  })

  function handleButtonClick(clickedBtn: HTMLButtonElement) {
    if (clickedBtn.getAttribute("aria-selected") === "true") {
      return
    } else {
      allBtns.forEach((btn) => {
        btn.setAttribute("aria-selected", "false")
      })
      clickedBtn.setAttribute("aria-selected", "true")
    }
  }
</script>
