---
import { ViewTransitions } from "astro:transitions"
import "../sass/main.scss"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Planets fact site</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style lang="scss">
      body {
        background-image: url("../assets/background-stars.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 32% center;
      }
    </style>
  </body>
</html>
